#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;Accessibility;
Comment[en_US]=Orbit on-screen keyboard
Comment=Orbit on-screen keyboard
Exec=nix run /mnt/data1/Nix/osk
GenericName[en_US]=
GenericName=
Icon=input-keyboard
MimeType=
Name[en_US]=osk
Name=osk
Path=/mnt/data1/Nix/osk
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
